#privacy-policy {
    width: 11px;
    height: 11px
}

.to-top {
    right: 60px;
    position: fixed;
    top: 550px;
    opacity: 0;}
    @media (max-width:500px) {
        .to-top{display: none}
    }

.topblue {
    position: absolute;
    left: 27px;
    top: 23px;}